.btn {
  display: inline-block;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  color: $white;
  border-radius: 8px;
  border: 2px solid $white;
  padding: 5px 24px 9px;
  transition: background .35s;
  line-height: 1.1;
  font-family: $primary-font;

  &_main {

    &:hover,
    &:focus{

    }
  }
}

