.burger {
  display: none;
  width: 32px;
  background-color: transparent;
  border: none;
  margin-left: 20px;

  .line {
    display: block;
    width: 100%;
    background-color: #fe831a;
    height: 2px;
    margin-bottom: 6px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include respond-to($xs) {
    width: 22px;
    .line {
      height: 1px;
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }

    }
  }
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  transition: .35s;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    padding-top: 28px;
    padding-bottom: 28px;
    transition: padding .4s;
  }

  .header__logo {
    max-width: 190px;
    margin-left: 15px;
    display: block;
  }

  .main-logo {
    display: block;
    max-width: 135px;
    margin-right: 15px
  }

  .logo-mob {
    display: none;
    max-width: 161px;
  }

  &.header_active {
    background-color: #fff;
    transition: .35s;

    .container {
      padding-top: 18px;
      padding-bottom: 18px;
    }
  }

  @include respond-to($screen-md) {
    .main-logo {
      max-width: 110px;
    }
    .header__logo {
      max-width: 150px;
    }
  }
  @include respond-to($md) {
    .header__logo {
      margin-left: 0;

      .container {
        align-items: flex-end;
      }

      .img-logo {
        display: none;
      }

      .logo-mob {
        display: block;
      }
    }
  }
  @include respond-to($xs) {
    .container {
      max-width: none;
    }
  }

  @include respond-to($xxs) {
    &.header_active .container,
    .container {
      padding-top: 16px;
      padding-bottom: 16px;
    }
    .header__logo {
      max-width: 141px;
    }
    .main-logo {
      max-width: 61px;
    }
  }
}

//  ------ backdrop

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: .5;
  z-index: 800;
}





