.swiper-button-next,
.swiper-button-prev {
  &:after {
    display: none;
  }

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: .35s;

}

.swiper-button-prev {
  transform: rotate(180deg);
}

.swiper-pagination {

}

