.swiper-button-next,
.swiper-button-prev {
  display: none;
  &:after {
    display: none;
  }

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: .35s;

}

.swiper-button-prev {
  transform: rotate(180deg);
}

.swiper-pagination {

}

.swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  border: 1px solid #fc7617;
  background-color: #fff;
  opacity: 1;

  &.swiper-pagination-bullet-active {
    background-color: #fc7617;
  }
}

@include respond-to($xs) {
  .swiper-button-next,
  .swiper-button-prev{
    display: block;
  }
}