.aside {
  padding-top: 105px;
  padding-bottom: 60px;

  .banner__content {
    position: relative;
    max-width: 530px;
    margin: 0 auto;
    text-align: center;
    font-size: 36px;
    font-weight: 600;

    .text_middle {
      font-size: 36px;
    }

    .lava-lamp {
      max-width: 328px;
      height: 328px;
      left: 15%;
    }

    .banner__wrap-img {
      text-align: left;
      width: 80%;
      padding-top: 67px;
      margin: 0 auto 20px;
    }
  }

  @include respond-to($sm) {
    padding-bottom: 130px;
    .banner__content {
      max-width: 410px;
      width: 50%;
      font-size: 23px;

      .text_middle {
        font-size: 27px;
      }

      .lava-lamp {

      }


    }

  }
  @include respond-to($xs) {
    .banner__content {
      max-width: 320px;
    }
  }
  @include respond-to($xxs) {
    .banner__content {
      max-width: 245px;
    }
  }
}
.aside_mob{
  display: none;
}