.aside {
  padding-top: 105px;
  padding-bottom: 60px;

  .banner__content {
    width: 530px;
    margin: 0 auto;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    transition: .5s;

    .text_middle {
      font-size: 36px;
    }

    .lava-lamp {
      width: 328px;
      height: 328px;
      left: 15%;
    }

    .banner__wrap-img {
      text-align: left;
      width: 80%;
      padding-top: 67px;
      margin: 0 auto 20px;
    }
  }

  @include respond-to($sm) {
    padding-bottom: 130px;
    .banner__content {
      max-width: 410px;
      width: 50%;
      font-size: 23px;

      .text_middle {
        font-size: 27px;
      }
    }
  }
  @include respond-to($xs) {
    display: none;
  }
}


//ANIMATION

path {
  fill: url(#paint0_linear);
}

#stop1 {
  animation: change-color1 1.7s ease-in-out infinite alternate;
}

#stop2 {
  animation: change-color2 1.7s ease-in-out infinite alternate;
}

#stop3 {
  animation: change-color3 1.7s ease-in-out infinite alternate;
}

@keyframes change-color1 {
  0% {
    stop-color: #FC5111;
  }
  25% {
    stop-color: #FC7818;
  }
  60% {
    stop-color: #FE921C;
  }
  100% {
    stop-color: #FE921C;
  }
}

@keyframes change-color2 {
  0% {
    stop-color: #FC7818;
  }
  60% {
    stop-color: #FE921C;
  }
  85% {
    stop-color: #FC5111;
  }
  100% {
    stop-color: #FC5111;
  }
}

@keyframes change-color3 {
  0% {
    stop-color: #FE921C;
  }
  40% {
    stop-color: #FC7818;
  }
 65% {
    stop-color: #FC7818;
  }
  100% {
    stop-color: #FC5111;
  }
}