.section-video {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 54px;
  padding-bottom: 50px;
  padding-left: 40px;
  width: 55%;

  .section__header {
    margin-bottom: 40px;
  }

  .wrap-video {
    position: relative;
    display: block;
    max-width: 804px;
    width: 85%;
    margin-left: 30px;
  }

  .poster {
    object-fit: inherit;
    display: block;
    width: 100%;
    height: auto;
  }

  .btn_video {
    position: absolute;
    width: 80px;
    height: 80px;
    border: 5px solid $white;
    background-color: rgba(255, 255, 255, .15);
    border-radius: 50%;
    z-index: 2;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);

    &:before {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 18px 0 18px 30px;
      border-color: transparent transparent transparent #ffffff;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      display: block;
      margin-left: 4px;
    }
  }

  @include respond-to($xs) {
    order: -1;
    width: 100%;
    padding-left: 0;
    .wrap-video{
      width: 100%;
      margin-left: 0;
    }
   .btn_video{
     width: 64px;
     height: 64px;
     border-width: 4px;
     &:before{
       border-width: 10px 0 10px 20px;
     }
   }
  }
  @include respond-to($xxs) {
  .btn_video{
    width: 50px;
    height: 50px;
    &:before{
      border-width: 10px 0 10px 20px;
    }
  }
  }
}