.section-advantages {
  position: relative;
  background-image: linear-gradient(to bottom, rgba(221, 230, 235, 1), rgba(221, 230, 235, .1), rgba(221, 230, 235, 0));
  flex-wrap: wrap;
  padding: 12.5% 15px 123px;

  &:after,
  &:before {
    position: absolute;
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
  }

  &:after {
    background-image: url(../assets/img/9.png);
    width: 24.5%;
    height: 767px;
    right: 0;
    bottom: 0;
    background-position: left bottom;
  }

  &:before {
    background-image: url(../assets/img/8.png);
    width: 21.5%;
    height: 705px;
    left: -40px;
    bottom: 123px;
    background-position: right bottom;
  }

  .swiper-wrapper {
    flex-wrap: wrap;
  }

  .advantages-list {

    &__item {
      position: relative;
      width: 25%;
      padding-top: 50px;
      line-height: 1.1;
      margin-right: 63px;
      margin-bottom: 17px;
      height: auto;

      &:before {
        position: absolute;
        content: '';
        width: 72px;
        height: 72px;
        border-radius: 50%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
      }

      &:first-child:before {
        background-image: url(../assets/img/krug2.png);
      }

      &:nth-child(2):before {
        background-image: url(../assets/img/krug1.png);
      }

      &:nth-child(3):before {
        background-image: url(../assets/img/krug3.png);
      }

      &:nth-child(4):before {
        background-image: url(../assets/img/krug4.png);
      }

      &:nth-child(5):before {
        background-image: url(../assets/img/krug5.png);
      }
    }

    &__text {
      position: relative;
      background-image: linear-gradient(to right, #fefefe, #eaecf4);
      border-radius: 15px;
      padding: 48px 30px 22px;
      background-clip: padding-box;
      border: 3px solid transparent;
      height: 100%;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -3px;
        border-radius: inherit;
        background-image: linear-gradient(45deg, #e9ecf5, #fefefe, #ffffff);
      }

      sup {
        line-height: .5;
      }
    }
  }

  .section {
    &__header {
      margin-bottom: 60px;
    }

    &__thumb {
      width: 40%;
      padding-top: 14px;
      padding-right: 5.5%;
      display: flex;
      align-items: start;
      padding-left: 6.5%;

    }

    &__content {
      width: 60%;
      padding-left: 28px;
    }

    &__sub-title {
      max-width: 533px;
      opacity: .75;
      color: #000000;
      font-size: 16px;
      font-weight: 500;
    }
  }

  .aside {
    width: 100%;
  }

  .wrap-img_mobile,
  .swiper-pagination {
    display: none;
  }


  @include respond-to($screen-md) {
    .advantages-list__item {
      margin-right: 36px;
      font-size: 16px;
    }
    .section__thumb {
      padding-right: 3.5%;
      padding-left: 2.5%;
    }
  }
  @include respond-to($lg) {
    .advantages-list__item {
      font-size: 18px;
      width: 40%;
    }

  }
  @include respond-to($md) {
    &:after{
      height: 920px;
    }
    &:before{
      height: 920px;
      left: -5px;
    }
    .section__thumb {
      padding-left: 0;
      padding-right: 10px;
    }
  }
  @include respond-to($sm) {
    padding-bottom: 0;
    .advantages-list__text {
      padding-left: 20px;
      padding-right: 20px;
    }
    .advantages-list__item {
      width: 42%;
    }
  }

  @include respond-to($xs) {
    background-image: none;
    padding-top: 118px;
    &:before,
    &:after{
      display: none;
    }
    .section__header {
      margin-bottom: 20px;
      width: 100%;
    }
    .section__content {
      padding-left: 5px;
      width: 60%;

      align-items: center;
      display: flex;
      flex-wrap: wrap;
    }
    .section__sub-title {
      font-size: 14px;
      margin-bottom: 0;
    }
    .swiper-wrapper {
      flex-wrap: nowrap;
    }
    .swiper-pagination {
      display: block;
      bottom: 5px;
      left: 50%;
      transform: translateX(-50%);
    }

    .advantages-list {
      padding-bottom: 30px;

      &__item {
        font-size: 21px;
        height: auto;
        max-width: 280px;
        margin-right: 0;
        width: 80%;


        &:before {
          width: 67px;
          height: 67px;
          top: 4px;
        }
      }

      &__text {
        height: 100%;
      }
    }
    .aside_desktop{
      display: none;
    }
  }
  @include respond-to($xxs) {
    padding-left: 0;
    padding-right: 0;
    .section__content {
      padding-left: 0;
      width: 100%;
    }
    .section__sub-title {
      font-size: 11px;
    }
    .section__thumb {
      display: none;
    }

    .advantages-list {
      &__text {
        padding: 58px 33px 45px;
        display: flex;
        flex-grow: 0;
        align-items: center;
      }

      &__item {
        width: 100%;
        max-width: 250px;
      }
    }
    .wrap-img_mobile {
      display: block;
      margin-left: auto;
      width: 100%;
      max-width: 360px;
    }

    .swiper-container {
      padding-left: 30px;
    }
  }
}