.section-video{
  padding-top: 54px;
  padding-bottom: 50px;
  width: 55%;
  .section__header{
    margin-bottom: 40px;
  }
  .wrap-video{
    position: relative;
    max-width: 804px;
    border-radius: 8px;
    padding-top: 35.5%;
    margin-left: 30px;
    display: block;
  }
  .poster{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100%;
    display: block;
    max-width: 100%;
    z-index: 1;
  }
  .btn_video{
    position: absolute;
    width: 80px;
    height: 80px;
    border: 5px solid $white;
    background-color: rgba(255,255,255, .15);
    border-radius: 50%;
    z-index: 2;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
    &:before{
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 18px 0 18px 30px;
      border-color: transparent transparent transparent #ffffff;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      display: block;
      margin-left: 4px;

    }
  }

  @include respond-to($xxs){
    .wrap-video{
      width: 100%;
      margin-left: 0;
      padding-top: 43.5%;
    }
  }
}