.section-manifestations {
  padding-bottom: 11.5%;
  position: relative;


  .section {
    &__thumb {
      width: 48%;
      display: flex;
      justify-content: flex-end;
    }

    &__content {
      width: 52%;
      padding: 20px 9.25%;
      flex-direction: column;
      justify-content: center;
    }
  }

  .signature {
    opacity: 0.7;
    color: #000000;
    font-family: $secondary-font;
    font-size: 19px;
    font-weight: 400;
    margin-right: 20%;
    margin-bottom: 24px;
  }

  .mouse-parallax {
    width: 50vw;
    flex-shrink: 0;

    &__bg {
      z-index: 2;
      .mouse-parallax__img-1{
        bottom: 0;
        left: 20%;
        top: auto;
        width: 36.25%;
      }
    }
    &__bg-2{
      .mouse-parallax__img-2{
        top: 10%;
        right: 0;
        width: 24%;
      }
    }
    &__bg-3{
      .mouse-parallax__img-3{
        top: 20%;
        left: 50%;
        width: 15%;
      }
    }

    &__content {
      padding-top: 80px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      height: 646px;
      .mouse-parallax__img{
        top: 80px;
      }
    }

    &__img {
      top: 0;
      right: 0;
    }
  }

}