.section-reasons {
  position: relative;
  min-height: 670px;
  padding-bottom: 40px;

  .wrap_section-img {
    display: none;
  }

  .reason-icon__list {
    display: none;
  }

  .section__bg-reasons {
    position: relative;
    width: 60%;
    background-image: url(../assets/img/3-a.png);
    background-position: 0 bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .reasons-list {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    color: #000000;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 73px;
    padding-top: 40px;

    &__item {
      width: 50%;
      position: relative;

      .round {
        position: absolute;
        width: 108px;
        height: 108px;
        background-image: linear-gradient(to right, #ff5400, #ff9200);
        border-radius: 50%;
        z-index: -1;
      }

      .reason {
        position: relative;
        background-color: $white;
        text-align: center;
        padding: 5px 17px 5px;
        border-radius: 10px;
        background-clip: padding-box;
        border: 1px solid transparent;
        min-width: 170px;
        line-height: .8;
        min-height: 54px;
        display: inline-flex;
        justify-content: center;
        flex-direction: column;

        span {
          text-transform: capitalize;
        }

        &:hover,
        &:focus {
          box-shadow: 0 0 27px 0 rgba(255, 0, 72, 0.2);
        }

        &:before,
        &:after {
          content: '';
          position: absolute;
        }

        &:before {
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: -1;
          margin: -1px;
          border-radius: inherit;
          background: linear-gradient(to right, #ff5400, #ffe5af);
        }

        &:after {
          background-image: url(../assets/img/ugol1.png);
          width: 26px;
          height: 26px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          z-index: 1;
          top: -23px;
        }

        &:last-child:after {
          left: 50%;
          transform: translateX(-50%);

        }
      }

      &:nth-child(odd) {
        text-align: right;
      }

      &:nth-child(6) {
        padding-left: 15%;
        margin-top: 60px;

        .round {
          top: -35px;
          left: 27%;
        }

        .reason:after {
          left: 48px;
        }
      }

      &:nth-child(5) {
        padding-right: 15%;
        margin-top: 60px;

        .round {
          top: -35px;
          right: 27%;
        }

        .reason:after {
          right: 20px;
          left: auto;
        }
      }

      &:nth-child(4) {
        margin-top: 50px;
        padding-left: 30%;

        .round {
          top: 50%;
          transform: translateY(-50%);
          left: 55%;
        }

        .reason:after {
          left: -22px;
          top: 50%;
          transform: translateY(-50%) rotate(-90deg)
        }
      }

      &:nth-child(3) {
        margin-top: 50px;
        padding-right: 30%;

        .round {
          top: 50%;
          transform: translateY(-50%);
          right: 55%;
        }

        .reason:after {
          top: 50%;
          right: -22px;
          transform: translateY(-50%) rotate(90deg);
          left: auto;
        }
      }

      &:nth-child(1),
      &:nth-child(2) {
        .round {
          top: -16px;
        }

        .reason:after {
          bottom: -22px;
          transform: rotate(-180deg);
          top: auto;
        }
      }

      &:nth-child(2) {
        margin-bottom: 10px;
        padding-left: 10%;

        .round {
          left: 29%
        }

        .reason:after {
          left: 82px;
        }
      }

      &:nth-child(1) {
        margin-bottom: 10px;
        padding-right: 10%;

        .round {
          right: 29%;
        }

        .reason:after {
          right: -26px;

        }
      }

      &:last-child {
        padding-top: 17px;
        padding-bottom: 17px;

        .round {
          background-image: url(../assets/img/blob-v.png);
          background-position: 50% bottom;
          background-repeat: no-repeat;
          background-size: auto;
          height: 300px;
          width: 158px;
          left: 50%;
          transform: translateX(-50%);
          bottom: 20px;
        }

        text-align: center;
      }
    }
  }

  .part-left {
    width: 40%;
    padding-left: 80px;
    padding-right: 68px;
    position: relative;
    transition: transform .5s;

    &:before {
      position: absolute;
      content: '';
      display: block;
      width: 34px;
      height: 100%;
      background-color: #ff5400;
      left: 0;
      z-index: 2;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }

  .section {
    &__block-text {
      background-image: url('../assets/img/bg-reason.png'),
      radial-gradient(#ffffff, #dce6ea);

      background-repeat: no-repeat;
      background-position: right 15px bottom 23%, 0 0;
      background-size: 140%;
      height: 100%;
      border-radius: 30px;
      padding: 85px 44px 33px 73px;
      overflow: hidden;
    }

    &__title {
      margin-bottom: 36px;
    }

    &__sub-title {
      max-width: 300px;
    }
  }

  .round_big {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../assets/img/lips-1.png);
    background-size: 100%;
    width: 45%;
    height: 493px;
    border: 1px solid transparent;
    border-radius: 50%;

  }

  .result,
  .reasons-btn__list {
    display: none;
  }

  @include respond-to($screen-lg) {
    .reasons-list__item:last-child {
      padding-top: 30px;
      padding-bottom: 0;
    }
  }

  @include respond-to($screen-md) {
    min-height: 535px;
    .reasons-list {
      font-size: 15px;
      padding-top: 40px;
      padding-bottom: 40px;

      .text_small {
        font-size: 14px;
        line-height: 1.2;
      }

      &__item {
        .reason {
          min-height: 40px;
          min-width: 100px;

          &:after {
            width: 20px;
            height: 20px;
          }
        }

        &:nth-child(1),
        &:nth-child(2) {
          .reason:after {
            bottom: -18px;
          }
        }

        &:nth-child(1) {
          .reason:after {
            left: 65px;
          }
        }

        &:nth-child(2) {
          .reason:after {
            left: 56px;
          }
        }

        &:nth-child(6),
        &:nth-child(5) {
          .round {
            top: -28px;
          }

          .reason:after {
            top: -18px;
          }
        }

        &:nth-child(6) {
          .reason:after {
            left: 42px;
          }
        }

        &:nth-child(4) {
          .reason:after {
            left: -18px;
          }
        }

        &:nth-child(3) {
          .reason:after {
            right: -18px;
          }
        }

        .round {
          width: 80px;
          height: 80px;
        }

        &:last-child {

          .round {
            background-size: 90%;
          }

          .reason:after {
            top: -18px;
          }
        }
      }
    }
  }

  @include respond-to($lg) {
    .part-left {
      padding-right: 40px;
      padding-left: 70px;
    }
    .section__block-text {
      padding-left: 44px;
      padding-top: 52px;
      background-position: right 15px bottom, 0 0;
    }
    .section__bg-reasons {
      background-size: auto;
    }
    .round_big {
      width: 55%;
      height: 100%;
    }
  }

  @include respond-to($md) {
    .part-left {
      opacity: 1;
      transform: translateX(0);
      animation: none;
    }
  }

  @include respond-to($sm) {
    z-index: 0;
    padding: 0 15px;
    flex-wrap: wrap;
    min-height: auto;
    justify-content: space-between;
    background-image: radial-gradient(#ffffff, #dce6ea);
    .section__title {
      margin-bottom: 25px;
    }
    .part-left {
      padding-left: 0;
      padding-right: 0;
      width: 100%;

      &:before {
        display: none;
      }
    }

    .section__bg-reasons {
      padding-top: 64px;
      width: 100%;
      background-position: center;
      background-size: 200%;
      justify-content: space-around;
    }
    .section__block-text {
      background-image: none;
      background-color: #fff;
      border-radius: 0;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 0;
      margin: 0 -15px;
    }
    .result {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 90%;
      text-align: center;
      font-size: 23px;
      font-weight: 500;
      line-height: 1;
      text-transform: uppercase;
      transform: translate(-50%, -50%);
      color: #fff;
    }
    .reasons-list {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
      z-index: 1;

      &__item {
        &:nth-child(n) {
          margin: 0;
          position: static;
          left: 0;
          top: 0;
          transform: none;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 500;
          color: #ffffff;
          background-image: linear-gradient(to right, #fe5800, #ffa100);
          border-radius: 5px;
          text-align: center;
          padding: 10px 5px;
          line-height: .9;
        }

        &:last-child {
          grid-column: 1 / -1;
        }

        br {
          display: none;
        }

        .round {
          display: none;
        }

        .reason {
          border: none;
          background-color: transparent;
          padding: 0;
          min-height: 0;

          &:hover,
          &:focus {
            box-shadow: none;
          }

          &:before,
          &:after {
            display: none;
          }
        }
      }
    }
    .round_big {
      position: relative;
      border-color: #faa500;
      height: 290px;
      max-width: 300px;
      width: 85%;
      background-position: center 60%;
    }
    .reason-icon__list {
      display: block;
      z-index: 1;
    }
    .reason-icon__item {
      position: absolute;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      z-index: 1;

      &.active_icon {
        transform: scale(1.5);
      }

      &:nth-child(1) {
        transform: translateX(-50%);
        top: -22px;
        left: 50%;

        &.active_icon {
          transform: translateX(-50%) scale(1.5);
        }
      }

      &:nth-child(2) {
        top: 15px;
        left: 10%;
      }

      &:nth-child(3) {
        top: 15px;
        right: 10%;
      }

      &:nth-child(4) {
        bottom: 44px;
        left: 0;
      }

      &:nth-child(5) {
        bottom: 44px;
        right: 0;
      }

      &:nth-child(6) {
        bottom: -12px;
        left: 25%;
      }

      &:nth-child(7) {
        bottom: -12px;
        right: 25%;
      }
    }
    .wrap_section-img {
      display: block;
      flex-grow: 1;
      width: 60%;
      max-width: 480px;
      margin-left: -10%;
    }
    .section__header {
      max-width: 550px;
      margin: 0 auto;
    }
  }

  @include respond-to($xs) {
    .section__bg-reasons {
      display: block;
      width: 100%;
    }
    .reasons-list {
      width: 100%;
      max-width: 610px;
      margin: 0 auto;
      padding-top: 30px;

      .reasons-list__item {
        font-size: 14px !important;
      }
    }
    .round_big {
      max-width: 315px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @include respond-to($xxs) {
    .section__title {
      margin-bottom: 5px;
    }
  }
}
