.section-use {
  .section__header {
    max-width: 450px;
    margin: 0 auto 45px;
  }

  .section__content {
    position: relative;
    counter-reset: card;
    padding: 15px 5% 28px;
    background-image: linear-gradient(to right, #fea00b, #fb5406);

    &:before {
      position: absolute;
      content: '';
      background-image: url(../assets/img/lips.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto;
      width: 365px;
      height: 140px;
      right: 15%;
      bottom: -26px;
      z-index: 1;
    }
  }

  .section__thumb {
    position: absolute;
    max-width: 28.5vw;
    width: 30%;
    height: 28.5vw;
    background-position: bottom, center, 0 0;
    background-repeat: no-repeat;
    background-size: 65%, contain;
    border-radius: 50%;
    z-index: 2;
    overflow: hidden;
    top: 50%;
    transform: translateY(-50%);
    right: -5.5%;
  }

  .usage-step {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: $primary-font;
    padding: 28px 78px 24px 35px;
    background-color: #f3faff;
    line-height: 1;
    border-radius: 7px;
    box-shadow: 0 0 21px #e16000;
    height: auto;

    &:before {
      counter-increment: card;
      content: counter(card) " ";
      position: absolute;
      bottom: 23px;
      right: 20px;
      font-size: 84px;
      font-family: "Arial", sans-serif;
      color: #f3faff;
      line-height: .8;
      text-shadow: #d3d9dc 1px 1px 0,
      #d3d9dc -1px -1px 0,
      #d3d9dc -1px 1px 0,
      #d3d9dc 1px -1px 0;
    }

    &:after {
      position: absolute;
      content: '';
      display: block;
      width: 46px;
      height: 86px;
      background-image: url(../assets/img/arrow2.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      top: 15px;
      right: 18px;
      z-index: 1;
    }

    &:hover {
      box-shadow: 0 0 21px #983900;
    }

    &__text {
      font-size: 24px;
      text-transform: uppercase;
      margin-bottom: 50px;

      .text_small {
        color: #a4a7a9;
        font-size: 19px;
        text-transform: none;
        display: inline-block;
      }
    }

    &__footer {
      font-size: 18px;
      font-weight: 300;

      p {
        max-width: 162px;
      }
    }
  }

  .bg-primary {
    background-image: linear-gradient(to right, #ff5400, #ff9900);
    padding: 8px 11px 9px;
    border-radius: 7px;
    color: $white;
    font-weight: 500;
    font-size: 19px;
  }

  .swiper-container {
    padding: 30px 30px 96px;
  }

  .wrap-section-slider {
    width: 80%;
  }

  .swiper-wrapper {
    justify-content: space-around;
  }

  .text-signs {
    position: absolute;
    left: 90px;
    bottom: -32px;
    font-family: $secondary-font;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
  }

  .swiper-pagination {
    display: none;
  }

  .decor-thumb {
    position: absolute;
    width: 52px;
    height: 48px;
    background-image: url(../assets/img/13.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    bottom: -96px;
    left: 50%;
    transform: translateX(-50%);
  }

  @include respond-to($screen-md) {
    .section__thumb {
      width: 26%;
      height: 26vw;
    }
    .section__content {
      padding-left: 2.5%;
    }

    .usage-step {
      max-width: 270px;
      padding-left: 18px;

      &__footer {
        font-size: 16px;
      }

      &__text {
        font-size: 18px;

        .text_small {
          font-size: 15px;
        }
      }
    }
    .bg-primary {
      font-size: 16px;
    }
    .text-signs {
      left: 0;
      right: 0;
      text-align: center;
    }
  }
  @include respond-to($lg) {
    .section__thumb {
      width: 16%;
      height: 16vw;
      top: 0;
      right: -.5%;
    }
    .wrap-section-slider {
      width: 100%;
    }
  }
  @include respond-to($sm) {
    .section__thumb {
      display: none;
    }
    .section__content {
      padding-left: 15px;
      padding-right: 15px;
    }
    .usage-step {
      padding: 29px 54px 20px 20px;
      max-width: 30%;

      &:after {
        width: 36px;
        height: 67px;
        right: 15px;
        top: 30px;
      }

      &:before {
        right: 10px;
      }
    }
    .bg-primary {
      font-size: 16px;

    }

  }

  @include respond-to($xs) {
    .section__content {
      padding: 0;
    }
    .section__header {
      margin-bottom: 0;
    }
    .swiper-container {
      padding: 20px;
    }
    .usage-step {
      padding-left: 32px;
      max-width: 320px;
      width: 40%;
      &__text{
        color: #fc7117;
        .text_small{
          padding-top: 13px;
        }
      }
    }
    .swiper-wrapper {
      justify-content: flex-start;
    }

    .swiper-pagination {
      display: block;
      bottom: -8%;
      left: 50%;
      transform: translateX(-50%);
    }
    .swiper-pagination-bullet {
      margin: 0 7px;
    }
    .wrap-section-slider {
      padding-bottom: 26px;
    }
    .text-signs {
      position: relative;
      padding-left: 54px;
      text-align: left;
      margin: 0 auto;
      top: 0;
      width: 85%;
      font-size: 13px;

      &:before {
        position: absolute;
        content: '';
        display: block;
        width: 33px;
        height: 31px;
        background-image: url(../assets/img/13.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        z-index: 1;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  @include respond-to($xxs) {
    .usage-step {
      width: 100%;
    }


  }
}