.section-stages {
  padding-top: 8.5%;
  padding-bottom: 93px;
  color: #fff;

  .desktop-hidden {
    display: none !important;
  }

  .section__header {
    margin: 0 auto;
    width: 33%;
  }

  .anim-in {
    transform: translateX(0);
  }

  .anim-out {
    transform: translateX(50vw);
  }

  .slider-stages {
    background-image: linear-gradient(to right, #ffa100, #ff6500);
    overflow: hidden;

    .container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  .slider-stage__pagination {
    position: relative;
    display: flex;
    width: 100%;
    font-size: 15px;
    line-height: 1.6;
    text-transform: uppercase;
    font-weight: 300;
    color: #000;
    text-align: center;
    background-color: #fff;
  }

  .slider-stage__progress {
    position: relative;
    width: 100%;
    background-color: #fff;
    border-bottom: 3px solid #fc9e18;

    &-track {
      background: linear-gradient(90deg, rgba(252, 160, 0, 1) 0%, rgba(246, 97, 9, 1) 100%);
      height: 12px;
      width: 24%;
      transition: .45s;
    }
  }

  .slider-stage__handle {
    position: absolute;
    top: 50%;
    left: 24%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 25px;
    border-radius: 13px;
    background-color: #fefefe;
    border: 1px solid #ddd;
    transition: .45s;
    z-index: 4;
  }

  .slider-stage__pagination-item {
    position: relative;
    z-index: 2;
    flex-grow: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    min-height: 140px;

    &.active {
      color: #ff6c00;
      font-weight: 500;
      font-size: 31px;
      line-height: 1;
    }

    &:after {
      content: '';
      display: block;
      width: 2px;
      height: 52px;
      position: absolute;
      top: 50%;
      right: 0;
      background-color: #999;
      opacity: .2;
      transform: translateY(-50%);
      text-align: center;
      z-index: 1;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }

  .slider-stages__part {
    width: 50%;
    flex-grow: 1;

    &-bg {
      position: relative;

      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-position: 0 50%;
        content: '';
        width: 880px;
        height: 880px;
        border-radius: 50%;
        display: block;
        background-image: linear-gradient(to right, #ffa500, #ff880c);
        opacity: .8;
      }


    }
  }

  .slider-stages__content {
    padding: 60px 17% 70px 13%;
  }

  .slider-content__text-wrap {
    position: relative;
    transition: transform .5s;
    max-width: 615px;
    min-height: 517px;
    padding: 2.75em;
    font-size: 22px;
    line-height: 1.1;
    background-image: linear-gradient(to right, #ff9a00, #ff5400);
    box-shadow: 0 0 54px rgba(252, 99, 20, 0.44);
    border-radius: 1em;
  }

  .slider-content__title {
    font-size: 32px;
    font-weight: 700;
    font-family: $secondary-font;
    text-transform: uppercase;
    margin-bottom: 15px;

    .icon {
      display: block;
      width: 125px;
      height: 125px;
      margin-bottom: 33px;
    }
  }

  .slider-content__text {
    max-width: 460px;
  }

  .image-slider {
    background: url("../assets/img/circles.png") center no-repeat;
    background-size: contain;

    &__circle {
      position: relative;
      display: block;
      width: 77%;
      padding-top: 65.5%;
      max-width: 580px;
      margin: auto;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 77%;
        height: auto;
        transform: translate(-50%, -50%) scale(.2);
        opacity: 0;
        transition: .35s;
        z-index: 1;
      }
    }

    .swiper-slide-active {
      .image-slider__img {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }

  .days-label {
    position: absolute;
    right: -24%;
    top: -40px;
    display: flex;
    justify-content: flex-end;
    padding: 33px 0;
    background-image: url(../assets/img/decor-blob-white.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    width: 308px;
    height: 233px;
    font-weight: 400;
    font-family: $secondary-font;
    font-size: 69px;
    letter-spacing: -3.48px;
    color: #ff6211;
    z-index: 2;

    small {
      font-size: 25px;
      color: #ff6b13;
      letter-spacing: normal;
    }

    .day {
      max-width: 45%;
      line-height: .5;
      padding: 15px;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
    background-image: url(../assets/img/arrow-sw-white.png);
    width: 43px;
    height: 100px;
    margin-top: -45px;
  }

  .swiper-button-next {
    padding-right: 15%;

    &:hover,
    &:focus {
      transform: scale(1.2);
    }
  }

  .swiper-button-prev {
    padding-left: 15%;

    &:hover,
    &:focus {
      transform: rotate(180deg) scale(1.2);
    }
  }

  @include respond-to($screen-lg) {
    .days-label {
      width: 240px;
      font-size: 45px;

      small {
        font-size: 17px;
      }
    }
    .slider-stages__part-bg:before {
      width: 770px;
      height: 770px;
    }
    .slider-content__text-wrap {
      min-height: 465px;
    }
    .slider-stage__pagination {
      font-size: 14px;
    }
    .slider-stage__pagination-item {
      &.active {
        font-size: 22px;
      }
    }
  }
  @include respond-to($screen-md) {
    .days-label {
      width: 184px;
      height: 134px;
      font-size: 35px;
      padding-top: 28px;

      small {
        font-size: 13px;
      }

      .day {
        padding: 0 16px;
        max-width: 48%;
      }
    }
    .slider-stages__part-bg:before {
      width: 770px;
      height: 770px;
    }
    .slider-content__text-wrap {
      min-height: 400px;
      font-size: 20px;
    }
    .image-slider__circle {
      max-width: 400px;
    }
    .slider-stage__pagination {
      font-size: 12px;
    }
    .slider-stage__pagination-item {
      min-height: 98px;

      &.active {
        font-size: 18px;
      }
    }
    .slider-content__title {
      font-size: 25px;

      .icon {
        width: 90px;
        height: 90px;
      }
    }
    .slider-stage__handle {
      width: 80px;
      height: 20px;
    }
    .slider-stage__progress {
      border-width: 2px;
    }
  }
  @include respond-to($lg) {
    .slider-stages__part-bg:before {
      width: 574px;
      height: 574px;
    }
  }
  @include respond-to($sm) {
    .days-label {
      width: 142px;
      height: 107px;
      font-size: 26px;
      transform-origin: 50% 50%;
      transform: rotate(-158deg);

      .day {
        width: 50%;
        transform-origin: 50% 50%;
        transform: rotate(158deg);
        padding-top: 23px;

        small {
          font-size: 9px;
        }
      }
    }
    .slider-stages__content {
      padding: 40px 5% 40px 7%;
    }
  }

  @include respond-to($xs) {
    .section__header {
      width: 50%;
    }
    .slider-stage__pagination-item {
      padding: 10px 0;
      min-height: 70px;

      &.active {
        font-size: 12px;
      }
    }
    .slider-stage__pagination {
      font-size: 10px;
    }
    .slider-content__title {
      font-size: 20px;
      .icon {
        width: 40px;
        height: 40px;
      }
    }
    .slider-stages__content {
      padding: 20px;
    }
    .slider-content__text-wrap {
      padding: 40px;
      font-size: 19px;
    }
  }

  @include respond-to($xxs) {
    .slider-stages__part {
      width: 80%;
      max-width: 580px;
      margin: 0 auto;
    }
    .slider-stages {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .slider-stage__progress,
    .slider-stage__pagination,
    .slider-stages__part-bg:before {
      display: none;
    }
    .slider-content__text-wrap {
      background: transparent;
      box-shadow: none;
    }
    .slider-content__title {
      position: relative;
      padding-top: 20px;
      padding-left: 107px;
      margin-bottom: 40px;

      .icon {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}