.section-location {
  padding-top: 54px;
  padding-bottom: 50px;
  width: 45%;
  height: 100%;

  .section__header {
    margin-bottom: 56px;
  }

  .wrap-map {
    width: 58%;
    padding-left: 50px;
    padding-bottom: 40px;
  }


  .btns-slider {
    max-width: 520px;
    margin-left: 0;
    width: 100%;
    padding: 5px 10px;

    .btn {
      margin: 0 auto;
      width: 100%;
    }
  }

  .btn-slide {
    text-align: center;
    width: 50%;
    padding: 0 5px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
    background-image: url(../assets/img/arrow2.png);
    width: 14px;
    height: 26px;
    left: 50%;
  }

  .swiper-button-next {
    transform: translate(10px, 10px);
  }

  .swiper-button-prev {
    transform: rotate(180deg) translate(20px, -10px);
  }

  @include respond-to($xs){
    width: 100%;
  }
}