.section-about {
  position: relative;
  padding-top: 77px;

  .section {
    &__header {
      &:after {
        content: '';
        position: absolute;
        display: block;
        height: 2px;
        background-color: #fc6f16;
        opacity: 0.3;
        width: 60vw;
        bottom: -12px;
        z-index: 1;
      }
    }

    &__content {
      padding-right: 50%;

    }

    &__text {
      width: 100%;
    }

    &__thumb {
      position: absolute;
      right: 0;
      top: 0;
      width: 48vw;
      z-index: 1;
    }
  }

  .wrap-img {
    width: 100%;
    padding-left: 16%;
  }

  .text_primary-color {
    color: #fc6314;
  }

  .bg_primary {
    max-width: 657px;

  }

  .img-anim-1 {
    position: absolute;
    width: 38%;
    bottom: 15px;
    right: 0;
  }

  .img-anim-2 {
    position: absolute;
    top: 24px;
    right: 0;
    width: 21.6%;
  }

  @include respond-to($md) {
    .bg_primary {
      font-size: 20px;
    }
  }
  @include respond-to($sm) {
    br {
      display: none;
    }
  }
}