.section-location {
  padding-top: 54px;
  padding-bottom: 50px;
  width: 45%;
  height: 100%;

  .section__header {
    margin-bottom: 56px;
  }

  .wrap-map {
    width: 58%;
    padding-left: 50px;
    padding-bottom: 40px;
  }


  .btns-slider {
    max-width: 520px;
    margin-left: 0;
    width: 100%;
    padding: 5px 10px;

    .btn {
      margin: 0 auto;
      width: 85%;
    }
  }

  .btn-slide {
    text-align: center;
     padding: 0 5px;
    display: flex;
    align-items: center;
    height: auto;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
    background-image: url(../assets/img/arrow2.png);
    width: 14px;
    height: 26px;
    left: 50%;
  }

  .swiper-button-next {
    transform: translate(10px, 10px);
  }

  .swiper-button-prev {
    transform: rotate(180deg) translate(20px, -10px);
  }
  @include respond-to($sm){
    .btn-slide {
      .btn {
        font-size: 15px;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
  @include respond-to($xs) {
    width: 100%;
    padding-left: 0;
    .section__header {
      margin-bottom: 40px;
    }
    .btns-slider {
      margin: 0 auto;
    }
    .wrap-map {
      width: 80%;
      padding-left: 0;
      margin: 0 auto;
    }
  }
  @include respond-to($xxs) {
    padding-bottom: 25px;

    .section__header {
      margin-bottom: 20px;
    }
    .btns-slider {
      max-width: 360px;
      width: 100%;
      margin: 0 auto;

      .swiper-button-next,
      .swiper-button-prev {
        width: 8px;
        height: 14px;
        margin-top: -17px;
      }

      .swiper-button-next {
        left: 48%;
      }

      .swiper-button-prev {
        left: 53%;
      }
    }
    .btn-slide {
      .btn{
        width: 100%;
      }
    }
    .wrap-map {
      width: 100%;
    }
  }
}

