.section-advantages {
  position: relative;
  padding-top: 12.5%;
  padding-bottom: 123px;
  background-image: linear-gradient(to bottom, rgba(221, 230, 235, 1), rgba(221, 230, 235, .1), rgba(221, 230, 235, 0));

  &:after,
  &:before {
    position: absolute;
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
  }

  &:after {
    background-image: url(../assets/img/9.png);
    width: 24.5%;
    height: 767px;
    right: 0;
    bottom: 0;
    background-position: left bottom;
  }

  &:before {
    background-image: url(../assets/img/8.png);
    width: 21.5%;
    height: 705px;
    left: -40px;
    bottom: 123px;
    background-position: right bottom;
  }

  .swiper-wrapper {
    flex-wrap: wrap;
  }

  .advantages-list {

    &__item {
      position: relative;
      width: 25%;
      padding-top: 50px;
      line-height: 1.1;
      margin-right: 63px;
      margin-bottom: 17px;

      &:before {
        position: absolute;
        content: '';
        width: 72px;
        height: 72px;
        border-radius: 50%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
      }

      &:first-child:before {
        background-image: url(../assets/img/krug2.png);
      }

      &:nth-child(2):before {
        background-image: url(../assets/img/krug1.png);
      }

      &:nth-child(3):before {
        background-image: url(../assets/img/krug3.png);
      }

      &:nth-child(4):before {
        background-image: url(../assets/img/krug4.png);
      }

      &:nth-child(5):before {
        background-image: url(../assets/img/krug5.png);
      }
    }

    &__text {
      position: relative;
      background-image: linear-gradient(to right, #fefefe, #eaecf4);
      border-radius: 15px;
      padding: 48px 30px 22px;
      background-clip: padding-box;
      border: 3px solid transparent;
      min-height: 212px;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -3px;
        border-radius: inherit;
        background-image: linear-gradient(45deg, #e9ecf5, #fefefe, #ffffff);
      }
    }
  }

  .section {
    &__header {
      margin-bottom: 60px;
    }

    &__thumb {
      width: 40%;
      padding-top: 14px;
      padding-right: 5.5%;
      display: flex;
      align-items: start;
    }

    &__content {
      width: 60%;
      padding-left: 28px;
    }

    &__sub-title {
      max-width: 533px;
      opacity: .75;
      color: #000000;
      font-size: 16px;
      font-weight: 500;
    }
  }

  @include respond-to($screen-lg) {
    .advantages-list__item {
      width: 40%;
    }
  }
  @include respond-to($md) {
    .section__thumb {
      display: none;
    }
    .section__content {
      width: 100%;
    }
    .advantages-list {
      .advantages-list__item {
        width: 28%;
      }
    }
  }
  @include respond-to($xs) {
    .swiper-wrapper {
      flex-wrap: nowrap;
    }
    .swiper-slide.advantages-list__item {
      margin-right: 0;
      width: 60%;

    }
    .advantages-list__item {
      font-size: 21px;
      height: auto;
      &:before {
        width: 67px;
        height: 67px;
        top: 4px;
      }

      .advantages-list__text {
        height: 100%;
      }
    }
    .advantages-list {
      padding-bottom: 30px;
    }

    .section__content {
      padding-left: 0;
    }
    .swiper-pagination {
      bottom: 5px;
    }
  }
  @include respond-to($xxs){
    padding-top: 118px;
    .swiper-slide.advantages-list__item {
      width: 80%;
    }
  }
}