html {
  font: 500 20px/1.44 $primary-font;
}

body {
  color: $black;
}

.wrapper {
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
}

.img {
  display: block;
  width: 100%;
  height: auto;
}

.site-title {
  font-size: 49px;
  line-height: .8;
  text-transform: uppercase;
  color: $black;
  letter-spacing: 0.36px;

  span {
    color: $white;
    font-size: 0.615em;
  }
}

.main__bg {
  background-image: linear-gradient(to bottom, rgba(221, 230, 235, 0), rgba(221, 230, 235, 1));
  position: relative;

  &:before {
    position: absolute;
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../assets/img/decor-preventions.png);
    background-size: auto;
    width: 547px;
    height: 547px;
    left: -5%;
    top: 0;
    z-index: 1;
  }
}

.dynamic-content {
  //ul {
  //  font-size: 1rem;
  //  margin-bottom: 3rem;
  //}
  //
  //li {
  //  position: relative;
  //  margin-bottom: 15px;
  //  padding-left: 35px;
  //}
}

.d-flex {
  display: flex;
}

.overflow-hidden {
  overflow: hidden !important;
}

.color-white {
  color: $white;
}

.section__header {
  position: relative;
  padding-top: 23px;
  padding-left: 95px;
  color: $black;
  font-family: $secondary-font;

  &:before {
    position: absolute;
    content: '';
    display: block;
    background-image: url(../assets/img/decor-heading.png);
    width: 66px;
    height: 68px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    left: 0;
    top: 0;
  }
}

.section__title {
  font-size: 29px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: 600;
  line-height: 1;
}

.section__sub-title {
  font-size: 18px;
  line-height: 1.13;
  color: #737373;
  font-weight: 500;
  margin-bottom: 20px;
}

.section__text {
  padding-left: 95px;

  p {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.bg_primary {
  background-image: linear-gradient(#ff5400, #ff9900);
  font-size: 25px;
  font-weight: 400;
  color: $white;
  line-height: .9;
  border-radius: 10px;
  padding: 15px 25px 17px;
  margin-bottom: 20px;
}

.where-buy {
  position: fixed;
  display: block;
  background-image: url(../assets/img/link-buy.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  width: 171px;
  height: 171px;
  background-color: $white;
  border: 2px dashed #fe831a;
  border-radius: 50%;

  bottom: 30vh;
  right: 8%;
  z-index: 100;
}


.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #323232;
  opacity: 0.67;
  z-index: 800;
}

.mouse-parallax {
  position: relative;
  height: 100%;

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: .1s;
    z-index: -1;
  }

  &__img {
    position: absolute;
    width: auto;
  }
}

@include respond-to($screen-lg) {
  body {
    font-size: 18px;
  }

  .section__header {
    padding-top: 15px;
    padding-left: 80px;

    &:before {
      width: 58px;
      height: 60px;
    }
  }
  .section__title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .section__sub-title {
    font-size: 16px;
  }
  .section__text{
    padding-left: 80px;
  }
}

@include respond-to($screen-md){
  .site-title{
    font-size: 42px;
  }
}

@include respond-to($xs){
  .wrap-sections{
    flex-wrap: wrap;
    .section-location,
    .section-video{
      width: 100%;
    }
  }
  .section__title{
    font-size: 18px;
    margin-bottom: 17px;
  }
  .section__sub-title{
    font-size: 11px;
    opacity: .75;
  }

  .section__header{
    padding-left: 22px;
    &:before{
      top: -37px;
      left: 22px;
      width: 37px;
      height: 38px;
    }
  }
  .footnote{
    font-size: 7px;
    text-align: left;
    padding-left: 26px;
    padding-right: 15px;
  }
  .note-list{
    margin-left: 0;
  }
}


