.slide-in-right.active {
  transform: translateX(100%);
}

.slide-in-left.active {
  transform: translateX(-100%);
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slide-in-right {
  animation: slideInRight .5s ease-out forwards;
}

.slide-in-left {
  animation:  slideInLeft 1s  ease-out .1s forwards;
}

