

.slide-in-left {
  transform: translateX(-100%);
  opacity: 9;
  &.active {
    animation: slideInLeft 1s ease-out .2s forwards;
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

.slide-in-right {
  transform: translateX(100%);
  opacity: 0;
  &.active {
    animation: slideInRight 1s ease-out .2s forwards;
  }
}

@keyframes slideInRight {
  0% {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }
  to {
    transform: translateZ(0);
    opacity: 1;
  }
}


.zoom-in-down {
  animation: zoomInDown .5s ease-out forwards;
}

.zoom-in {
  opacity: 0;
  &.active{
    animation: zoomIn .5s ease-out forwards;
  }
}

@-webkit-keyframes zoomInDown {
  0% {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(.55, .055, .675, .19)
  }
  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(.175, .885, .32, 1)
  }
}


@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3)
  }
  50% {
    opacity: 1
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1
  }
}

.line-box svg {
  position: relative;
  top: -24px;
}



