/*
* Fonts
*/
$primary-font: 'Exo 2', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

/*
* Colors
*/
$primary: #ff5705;
$orange: #fe831a;
$white: #ffffff;
$black: #000000;
$red: #fc5111;

/*
* Breakpoints
*/

$xxs: '(max-width: 480px)';
$xs: '(max-width: 840px)';
$sm: '(max-width: 1040px)';
$md: '(max-width: 1160px)';
$lg: '(max-width: 1280px)';
$screen-md: '(max-width: 1460px)';
$screen-lg: '(max-width: 1660px)';







