
@font-face {
	font-family: 'MyriadPro';
	src: url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
	url('MyriadPro-Regular.otf') format('opentype'),
	url('MyriadPro-Regular.woff') format('woff'),
	url('MyriadPro-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}


@font-face {
	font-family: 'Harabara Mais';
	src: url('HarabaraMaisBold-HarabaraMaisBold.eot');
	src: url('HarabaraMaisBold-HarabaraMaisBold.eot?#iefix') format('embedded-opentype'),
	url('HarabaraMaisBold-HarabaraMaisBold.woff') format('woff'),
	url('HarabaraMaisBold-HarabaraMaisBold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
